.button {
  cursor: pointer;
  background-color: var(--aqua-900);
  color: var(--white-100);
  border-radius: 8px;
  text-align: center;
  transition: 200ms;
}

.button input {
  cursor: pointer;
  display: none;
}

.button label {
  cursor: pointer;
  font-size: 1.5rem;
  display: inline-block;
  border-radius: 8px;
  padding: 0.4rem;
  width: 100%;
}

.button:hover {
  background-color: var(--aqua-300);
  color: var(--aqua-900);
}

.enabled_button:checked + label {
  background-color: var(--aqua-500);
  color: var(--aqua-900);
}

.disabled_button:checked + label {
  background-color: var(--aqua-900);
  color: var(--white-100);
}
