.inputContainer, .inputContainerError {
  margin-top: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: transparent;
  background-color: var(--blue-100);
  padding: 0.4rem 1.1rem;
  border-radius: 12px;
}

.inputContainer input, .inputContainerError input {
  padding-right: 0.5rem;
  width: 80%;
  background-color: transparent;
  text-align: right;
  font-size: 1.5rem;
  color: var(--aqua-900);
}

.inputContainer input {
  border: transparent;
}

.inputContainerError input {
  padding-right: 0.5rem;
  width: 80%;
  background-color: transparent;
  border: solid 2px var(--orange-400);
  border-radius: 12px;
  text-align: right;
  font-size: 1.5rem;
  color: var(--aqua-900);
}

.inputContainerError input:focus {
  border: solid 2px var(--orange-400);
  box-shadow: none;
}